html {
  font-size: 16px;
}

body {
  font-family: "GilroyRegular";
  font-size: 20px;
  color: #fff;
  background-color: #000;
  /* min-width: 400px; */
  /*хз почему минимум не работает*/
}

img {
    
  max-width: 100%;
  height: auto;
}

.header {
  height: 50px;
}

.header nav {
  /* background-color: #a69688; */
  background-color: #000;
  padding: 0;
  text-align: start;
  height: 50px;
  user-select: none;
}
.header .nav-link {
  color: #fff;
}
.header .navbar-brand {
  color: #fff;
  padding: 8px;
}

.header a:hover {
  background: #9c9c9c;
  border-radius: 12px;
}

.main .welcome {
  width: auto;
  height: 1270px;
  margin: 0;
  position: relative;
}

.main .welcome span {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.main .welcome .logo {
  font-family: "DaysSansBlack";
  font-size: 120px;
  padding: 0 0 125px 0;
  user-select: none;
}

.main .welcome .text-after-logo {
  font-size: 36px;
  user-select: none;
}

.main .news {
  background: linear-gradient(#000000, #ffffff);
  width: auto;
  height: 1098px;
}

.footer {
  background-color: black;
  width: 240px;
  height: 60px;
  margin: 0;
  float: right;
}
